body{
  margin: auto;
}

header{
  height:100px;
  display:flex;
  align-items: center;
  background: #6441A5;
  background-image: linear-gradient(to-right,  #2a0845, #6441A5 ) ;
}

header > img{
  height: 80%;
}

header > p{
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.meme{
  position: relative;
  width: 30%;
  margin: auto;
}

.meme > img{
  width: 100%;
}

.meme > h2{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px black;
}

.meme > .bottomText{
  bottom: 0;
}

.meme > .topText{
  top: 0;
}

.meme-form{
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form .button{
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441A5;
}

